

<div class="container">
	<h2>Routing Instruction</h2>
	<ol>
		<li>
			Add <b>{{steps[1]}}</b> tag to <strong>app.component.html</strong>
		</li>
		<li>
			Create app.routing.module.ts file
			<ul>
				<li> Import all required modules </li>
				<li> Now insert them in <strong>routes</strong> variable as follwoing,</li>
				<li> <code>{{steps[2.3]}}</code> </li>
			</ul>
		</li>
		<li>Import routing module in app.module.ts</li>
		<li>Finally use tags <code>{{steps[4]}}</code> inside any html file to initiate routing for that component. <br> Mainly put it in app.component.html file to route on all component.</li>
	</ol>

	<h2>How to change routes on click?</h2>
	<p>So to change route on click add <code>{{steps[5]}}</code> property to any html element.</p>
	<p>Eg., <br><code>{{steps[6]}}</code> <br> <code>{{steps[7]}}</code> </p>

	<h2>How to redirect in some time?</h2>
	<ol>
		<li>
			Import Router inside ts file <code>import {{'\{'}} Router } from '@angular/router';</code>
		</li>
		<li>
			Inject it in constructor function <code>constructor(private router: Router ) {{'\{'}} }</code>
		</li>
		<li>
			Use it as follwing <code>this.router.navigate(['learn/basic/routing'])</code> <span>(Enter route of your choise in navigation)</span>
		</li>
	</ol>
</div>