<h3>Brief</h3>
<p>Data binding in Angular works by synchronizing the data in the components with the UI<br>so that it reflects the current
value of the data.<br>To achieve the synchronization of the View and the Model, Angular uses change detection</p>

<h3>Types of binding</h3>
<ol>
	<li><a routerLink="class-binding">Class Binding</a></li>
	<li><a routerLink="property-binding">Property Binding</a></li>
	<li><a routerLink="event-binding">Event Binding</a></li>
	<li><a routerLink="style-binding">Style Binding</a></li>
</ol>